@import '_reset.scss';
@import '_base.scss';
@import '_variables.scss';

.header {
  height: 200px;
  background-color: $red;
}

.footer {
  height: 200px;
  background-color: $red;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  display: flex;
  transition: all 0.5s;
  &:hover {
    width: 200px;
    background-color: $red;
  }
}
